<%- include ('layouts/header.ejs'); %>


    <div class="container">

        <h5>
            Все мероприятия
        </h5>
    </div>

    <div class="container">
        <div class="d-grid gap-2">
            <a href="/new" class="btn btn-success">Создать мероприятие</a>
        </div>
    </div>


    <% if (helpers.isIterable(events)) { %>
        <% for(let event of events) { %>
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= event.name %>
                        </h5>
                        <h6 class="card-title">
                            <%= helpers.formatDate(event.start_date) %> начинается
                        </h6>
                        <h6 class="card-title">
                            <%= helpers.formatDate(event.end_date) %> заканчивается
                        </h6>
                        <p class="card-text"></p>
                        <%= event.count_of_attendees %> подписаны на участие
                            </p>
                            <p class="card-text">
                                <%= event.description %>
                            </p>

                            <a href="#" class="btn btn-primary">Посмотреть</a>
                            <a href="#" class="btn btn-success">Подписаться</a>
                    </div>
                </div>
            </div>


            <% } %>
                <% } %>

<%- include ('layouts/footer.ejs'); %>